<!DOCTYPE html>
<html>
  <head>
    <title>DailyGif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
  </head>

  <body>
    <div class="ui secondary pointing menu">
      <%= link_to 'Daily Gif', root_path, {:class => "item"} %>
      <%= link_to 'Categories', categories_path, {:class => "item"} %>
      <% if current_user %>
        <%= link_to "Community", users_path, {:class => "item"} %>
        <%= link_to "Profile", profile_path, {:class => "item"} %>
        <%= link_to "Create a New Gif", new_gif_path, {:class => "item"} %>
        <div class="right menu">
            <%= link_to "Logout", logout_path, {:class => "item", :method => :destroy} %>
        </div>
      <% else %>
        <div class="right menu">
          <%= link_to "Login", login_path, {:class => "item"} %>
          <%= link_to "Signup", new_user_path, {:class => "item"} %>
        </div>
      <% end %>
    </div>

    <%= yield %>
    <footer>
      Made with love by Ed and Kaeland
    </footer>
  </body>
</html>
